.btn {
    border: 0;
    outline: none;
    padding: 0;
    font-size: 1.5rem;
}

.btn-edit {
    color: green;
}

.btn-trash {
    color: red;
}

.info {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    color: black;
}

.info-success {
    border: 1px solid green;
}

.info-error {
    border: 1px solid red;
}

table {
    width: 100%;
}